/* Styles-Keyboard-Mini.css */

.KB_Mini_FullArea
{
    position:absolute;
    top:730px;
    left:0px;
    border:1px solid black;
    padding:0px;
    height:110px;
    width:400px;
    border-collapse: collapse;    
    outline: none;    
    text-align: center;
    background-color: white;
    caret-color: transparent;
    visibility: hidden;
    user-select: none;
}

.KB_Mini_Instructions
{
    border:0px solid green;
    color:black;
    position:relative;
    top:0px;
    left:0px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:normal; 
    height:24px;
    font-size:18px;
    padding:0px;
    width:400px;
    border-collapse: collapse;    
    outline: none;    
    text-align: center;
    background-color: white;
    caret-color: transparent;
}

.KB_Mini_ButtonRow
{
    border:0px solid green;
    position:relative;
    top:0px;
    left:0px;
    padding:0px;
    height:46px;
    width:400px;
    border-collapse: collapse;    
    outline: none;    
    text-align: center;
    background-color: white;
    caret-color: transparent;
}

.KB_Mini_ButtonLetter 
{
    width:46px;
    font-size:28px;
    color:#222222;
    background-color:#DDDDDD;
}

.KB_Mini_ButtonLetter_Disabled
{
    width:46px;
    font-size:28px;
    color:#777777;
    background-color:#AAAAAA;
}

.KB_Mini_ButtonBackspace 
{
    width:56px;
    background-image: url("images/Buttons/Button_Backspace.png");
    background-size:54px;
    background-repeat:no-repeat;
}

.KB_Mini_ButtonArrowLeft 
{
    width:44px;
    background-image: url("images/Buttons/Button_ArrowLeft.png");
    background-size:48px;
    background-repeat:no-repeat;
}

.KB_Mini_ButtonArrowRight 
{
    width:44px;
    background-image: url("images/Buttons/Button_ArrowRight.png");
    background-size:48px;
    background-repeat:no-repeat;
}

.KB_Mini_Button 
{
    border:1px solid #222222;
    padding-top:7px;
    height:36px;
    outline:none;    
    text-align:center;
    font-family:Arial, Helvetica, sans-serif;
    font-style:normal;
    caret-color: transparent;
}
