/* Styles-ScratchArea.css */

.SA_ClearDiv
{
   border:1px solid black;
   position:absolute;
   top:100px;
   left:200px;
}

.SA_ClearBox
{
    border:1px solid black;
    height:35px;
    width:20px;
    line-height:30px;
    z-index:1;
    background-color:white;
    font-size:15px;
    font-family:Arial, Helvetica, sans-serif;
    font-style:normal;   
}

.SA_ClearDiv_DoIt
{
    border:1px solid black;
    height:30px;
    width:30px;
    z-index:1;
    background-color:pink;
    font-size:15px;
    font-family:Arial, Helvetica, sans-serif;
    font-style:normal;   
}

.SA_ClearDiv_Cancel
{
    border:1px solid black;
    height:30px;
    width:30px;
    z-index:1;
    background-color:lightgreen;
    font-size:15px;
    font-family:Arial, Helvetica, sans-serif;
    font-style:normal;   
}

.SA_ClearDiv_Message
{
    border:0px solid black;
    height:30;
    width:50;
    z-index:1;
    background-color:white;
    font-size:15px;
    font-family:Arial, Helvetica, sans-serif;
    font-style:normal;   
}

.SA_Entry_Base
{
    border:1px solid black;
    font-size:20px;
    font-family:Arial, Helvetica, sans-serif;
    font-style:normal;
    padding-top:5px;
    padding-bottom:0px;
    width:110px;
    height:30px;
    z-index:1;
}

.SA_Entry_Correct
{
    font-weight:bold;
    color:green;
    background-color:white;
}

.SA_Entry_Focus
{
    font-weight:bold;
    color:black;
    background-color:var(--ColorScratchAreaActive);
}

.SA_Entry_Inactive
{
    font-weight:normal;
    color:black;
    background-color:white;
}

.ScratchArea
{
    user-select: none;
    border:1px solid blue;
    text-align:center;
    position:absolute;
    left:0px;
    top:0px;
    height:10px;
    width:10px;
    color:#000000;
    font-size:15px;
    font-family:Arial, Helvetica, sans-serif;
    font-style:normal;   
    z-index: 0; 
}

.ScratchArea_Text
{
    user-select: none;
    border:1px solid black;
    text-align:center;
    position:absolute;
    left:400px;
    top:111px;
    height:120px;
    width:120px;
    color:#000000;
    font-size:15px;
    font-family:Arial, Helvetica, sans-serif;
    font-style:normal;   
    z-index: 0; 
}

.ScratchArea_TR 
{
    border:0px solid red;
    text-align: center;    
}

.ScratchArea_TABLE 
{
    border:0px solid green;
    border-spacing:2px;
    border-collapse: collapse;
}
