/* Styles-Settings.css */

.SettingsDifficultyDiv
{
  position:relative;
  left:0px;
  border:0px solid orange;
  width:290px;
  text-align:right;
}

.SettingsDifficulty_Title
{
  border:0px solid red;
  color:blue;
  font-size:15px;
  font-family:Arial, Helvetica, sans-serif;
  font-style:normal;   
}

.Settings_ButtonItem_Base
{
    display: inline-block;
    position: relative;
    user-select: none;
    text-align:center;
    line-height:20px;
    left:0px;
    top:0px;
    height:20px;
    width:50px;
    font-size:14px;
    font-family:Arial, Helvetica, sans-serif;
    font-style:normal;   
}
.Settings_ButtonItem_Selected{border:1px solid green;color:green;background-color:white;}
.Settings_ButtonItem_Enabled {border:1px solid blue;color:blue;background-color:lightblue;}

.SettingsB{border:0px solid red;width:380px;height:158px;}
.SettingsI{border: 0px solid blue;width:380px;height:40px;}

.SettingsDiv
{
  position:absolute;
  border: 1px solid green;
  width:384px;
  height:160px;
  top:100px;
  left:100px;
  visibility: hidden;
  z-index: 5;
  background-color:lightblue;
}

.Settings_TableBorder
{
  border:0px solid black;
  padding:0px;
  width:380px;
}

.Settings_SubtitleRow
{
  border:0px solid red;
  font-family:Arial, Helvetica, sans-serif;
  font-weight:normal; 
  text-align:center;
  height:15px;
  width:380px;
  font-size:15px;
  color:black;
}

.Settings_CloseBoxRow
{
  font-family:Arial, Helvetica, sans-serif;
  font-style:normal; 
  font-weight:bold; 
  text-align:center;
  font-size: 25px;
  color:black;
}

.Settings_CloseBox 
{
  font-family:Arial, Helvetica, sans-serif;
  font-style:normal; 
  width:60px;
  height:21px;
  border:1px solid blue;
  font-size: 15px;
  padding-top: 0px;
  background-color:lightblue;
}

.Settings_CheckBoxRow
{
  border:0px solid green;
  font-family:Arial, Helvetica, sans-serif;
  font-style:normal; 
  height:15px;
  text-align:center;
  width:380px;
}

.Settings_CheckBox
{
  font-family:Arial, Helvetica, sans-serif;
  font-style:normal; 
  font-size: 12px;
  border:0px solid blue;
  color:blue;
  width: 20px;
  height: 20px;
  background-color: lightblue;
}

.Settings_CheckBoxRowTitle
{
  font-family:Arial, Helvetica, sans-serif;
  font-style:normal; 
  text-align:right;
  font-size:15px;
  color:blue;
}
