/* Styles-GRBMS-Button.css */
/* button styles themselves are defined in code */

.Div_Grid
{
    border: 1px solid black;
    position:absolute;
    left:0px;
    top:100px;
    outline:none; 
    border-collapse:collapse; 
    height: 40px;
    width:200px;
    padding:0px;
    margin:0;
}

