/* Styles-TopRowControl.css */
.NewTitle
{
    text-align: center;
    padding: 0px;
    border: 0px;
    color:red;
    font-family:Arial, Helvetica, sans-serif;
    font-style:normal;
    font-size:22px;
    background-color:white;
}

.NewTitle_S
{
    height:15px;
    text-align: center;
    padding: 0px;
    border: 0px;
    color:blue;
    font-family:Arial, Helvetica, sans-serif;
    font-style:normal;
    font-size:13px;
    background-color:white;
}

.CAB_Row_DualClue
{
    border: 0px solid blue;
    color:blue;
    padding: 0px;
    height:30px;
    width: 100%;
    border-collapse: collapse;    
    outline: none;    
    text-align: center;
    font-size: 24px;
    font-family:Arial, Helvetica, sans-serif;
    font-style:normal;
}

.CAB_Row_DualClue_Small
{
    padding: 0px;
    height:20px;
    border: 0px solid red;
    border-collapse: collapse;    
    outline: none;    
    text-align: center;
    color:red;
    font-size: 14px;
    font-family:Arial, Helvetica, sans-serif;
    font-style:normal;
}

.TopRowControlClass
{
    padding: 0px;
    height: 3%;
    width: 100%;
    border: 0px;
    outline: none;    
    text-align: right;
    font-family:Arial, Helvetica, sans-serif;
    font-style:normal;
    background-color:aliceblue;
    caret-color: aliceblue;
    color:black;
}

.TopRowControl_Button
{
    position:relative;
    border: 0px;
    background-color:aliceblue;
    padding: 0px;
    height: 50px;
    width:50px;
    outline: none;
    caret-color: transparent;
    color:black;
}

