/* Style-Overall.css */

::selection{background-color: #FFEE60}

.TC_Left   {text-align:left;}
.TC_Center {text-align:center;}
.TC_Right  {text-align:right;}

.TC_StartHidden {visibility:hidden;}

.InLineAbsolute {display: inline-block;position:absolute;}
.InLineRelative {display: inline-block;position:relative;}

.MoveCursor
{
cursor: url('image/Button_ChangeDirection.cur'),auto;
}

.GoToScreen
{
    width:640px;
    height:1170;
    top:0px;
    left:0px;
    background-color: #A7D8FF;
    position:absolute;
    color:green;
    text-align:center;
    font-size:24px;
    font-family:Arial, Helvetica, sans-serif;
    font-style:normal;  
    font-weight:normal;
    z-index:12;
}

.GoToScreenTitle
{
    top:20px;
    left:0px;
    width:640px;
    height:40px;
    background-color: #A7D8FF;
    position:absolute;
    color:red;
    text-align:center;
    font-size:36px;
    font-family:Arial, Helvetica, sans-serif;
    font-style:normal;  
    font-weight:normal;
}

.GoToAmazon
{
    background-image: url("images/InfoScreens/GoToAmazonButton.jpg");
    top:60px;
    left:70px;
    width:500px;
    height:300px;
    background-color: pink;
    color:Orange;
    position:absolute;
}

.Download
{
    background-image: url("images/InfoScreens/SketchiMini-DownLoadSamplerButton.jpg");
    top:375px;
    left:70px;
    width:500px;
    height:82px;
    background-color: lightgreen;
    color:green;
    position:absolute;
}

.PlayOnLine
{
    background-image: url("images/InfoScreens/PlayOnlineButton.jpg");
    top:470px;
    left:70px;
    width:500px;
    height:300px;
    background-color: lightgreen;
    color:green;
    position:absolute;
}

.GoToSketchiToonsBooks
{
    background-image: url("images/InfoScreens/GoToSketchiToonsBooksButton.jpg");
    top:800px;
    left:70px;
    width:500px;
    height:150px;
    background-color:blue;
    color:black;
    position:absolute;
}

.GoToSketchiToons
{
    background-image: url("images/InfoScreens/GoToSketchiToonsButton.jpg");
    top:975px;
    left:70px;
    width:500px;
    height:150px;
    background-color:gray;
    color:black;
    position:absolute;
}

.Body_Real
{
    position:absolute;
    top:0px;
    left:0px;
    border: 0px solid red;
    color: #fff;
    height:1170px;
    width:650px;
}

.Body_Intro
{
    border:0px solid blue;
    background-color: #A7D8FF;
    background-image: url("images/InfoScreens/StartingScreen-2024-02-21.jpg");
    color:black;
    height:1170px;
    width:650px;
    background-repeat:no-repeat;
    background-position:center;
    z-index:12;
}

.OpeningText
{
    width:640px;
    top: 580px;
    left:0px;
    position:absolute;
    color:green;
    text-align:center;
    font-size:28px;
    font-family:Arial, Helvetica, sans-serif;
    font-style:normal;  
    font-weight:normal;
    z-index:12;
}