/* Styles-GRBMS-Button.css */

.Div_Grid_Phantom
{
    border: 1px solid black;
    position:absolute;
    left:0px;
    top:100px;
    color:red;
    font-size: 24px;
    font-family:Arial, Helvetica, sans-serif;
    font-style:normal;
    outline: none; 
    border-collapse: collapse; 
    height: 40px;
    width:200px;
    padding: 0px;
    background-color: red;
    margin:0;
    z-index:-1;
}

.GRB_GridRows
{
    position:absolute;
    border: 3px solid orange;
    width:500px;    
}

.Div_Grid
{
    border: 1px solid black;
    position:absolute;
    left:0px;
    top:100px;
    color:red;
    font-size: 24px;
    font-family:Arial, Helvetica, sans-serif;
    font-style:normal;
    outline: none; 
    border-collapse: collapse; 
    height: 40px;
    width:200px;
    padding: 0px;
    margin:0;
}

.GRBMS_Button_Size_40 
{
    position:absolute;
    left: 0px;
    top:0px;
    background-color: yellow;
    border-collapse: collapse; 
    padding-top: 10px;
    outline: none; 
    border: 0px solid black;
    text-transform: Uppercase;
    text-align: center;
    font-size: 24px;
    font-family:Arial, Helvetica, sans-serif;
    font-style:normal;
    width: 40px;
    height: 40px;
    background-size: 40px;
    caret-color: transparent;
}

.GRBMS_Button_Size_50 
{
    position:absolute;
    left: 0px;
    top:0px;
    background-color: yellow;
    border-collapse: collapse; 
    padding-top: 10px;
    outline: none; 
    border: 0px solid black;
    text-transform: Uppercase;
    text-align: center;
    font-size: 24px;
    font-family:Arial, Helvetica, sans-serif;
    font-style:normal;
    width: 50px;
    height: 50px;
    background-size: 50px;
    caret-color: transparent;
}

.GRBMS_Button_Size_60
{
    position:absolute;
    left: 0px;
    top:0px;
    background-color: yellow;
    border-collapse: collapse; 
    padding-top: 10px;
    outline: none; 
    border: 0px solid black;
    text-transform: Uppercase;
    text-align: center;
    font-size: 24px;
    font-family:Arial, Helvetica, sans-serif;
    font-style:normal;
    width: 60px;
    height: 60px;
    background-size: 60px;
    caret-color: transparent;
}
