/* Style-Overall.css */

/* zIndexes
- 0 most things
- 1 result message
- 2 popup images
- 3 popup dialogs
*/

::selection{background-color: #FFEE60}

.TC_Left   {text-align:left;}
.TC_Center {text-align:center;}
.TC_Right  {text-align:right;}

.TC_StartHidden {visibility:hidden;}

.InLineAbsolute {display: inline-block;position:absolute;}
.InLineRelative {display: inline-block;position:relative;}

.MoveCursor
{
cursor: url('image/Button_ChangeDirection.cur'),auto;
}

.ForTest
{
    visibility: hidden;
}

.Body_Any_BeforeLoad
{
    border: 1px solid green;
    background-color: #A7D8FF;
    color: #fff;
    width:700px;
    height:1200px;
    background-image:url("images/InfoScreens/StartingScreen_SG2.jpg");
    background-repeat:no-repeat;
    background-position: center;
}

.Body_Any_AfterLoad
{
    border: 0px solid red;
    width:600px;
    height:0px;
    background-color: white;
}



