/* Styles-GRBMS-Image.css */

.ExtraImage
{
    position:absolute;
    top:0;
    left:0;
    visibility: hidden;
    z-index: 5;
}

.SolvedImage
{
    border: 0px solid black;
    position:absolute;
    top:0;
    left:0;
    z-index: 5;
}

.Div_Grid_Image
{
    border: 0px solid black;
    position:absolute;
    left:250px;
    top:150px;
    height:300px;
    width:300px;
    outline: none; 
    border-collapse: collapse; 
    padding: 0px;
    margin:0;
    vertical-align: center;
    align-items: center;
}

.Div_Grid_Image_Itself
{
    border: 1px solid black;
    position:absolute;
    left:0px;
    top:0px;
    height:200px;
    width:200px;
    outline: none; 
    border-collapse: collapse; 
    padding: 0px;
    margin:0;
    vertical-align: center;
    align-items: center;
}

