/* Styles-TopRowControl.css */
.NewTitle
{
    text-align: center;
    padding: 0px;
    border: 0px;
    color:red;
    font-family:Arial, Helvetica, sans-serif;
    font-style:normal;
    font-size:22px;
    background-color:white;
}

.TopRowControlClass
{
    padding: 0px;
    height: 3%;
    width: 100%;
    border: 0px;
    outline: none;    
    text-align: right;
    font-family:Arial, Helvetica, sans-serif;
    font-style:normal;
    background-color:aliceblue;
    caret-color: aliceblue;
    color:black;
}

.TopRowControl_Button
{
    position:relative;
    border: 0px;
    background-color:aliceblue;
    padding: 0px;
    height: 50px;
    width:50px;
    outline: none;
    caret-color: transparent;
    color:black;
}

